body{

font-family:Arial;

background:#f4f6f9;

padding:20px;

}

.container{

max-width:900px;

margin:auto;

background:white;

padding:30px;

border-radius:10px;

box-shadow:0 0 10px rgba(0,0,0,0.1)

}

input{

width:100%;

padding:10px;

margin:6px 0;

border:1px solid #ccc;

border-radius:5px;

}

button{

width:100%;

padding:12px;

margin-top:10px;

background:#0077ff;

color:white;

border:none;

border-radius:5px;

cursor:pointer;

}

button:hover{

background:#005ccc;

}

table{

width:100%;

border-collapse:collapse;

margin-top:20px;

}

th,td{

border:1px solid #ddd;

padding:6px;

text-align:center;

}

tr:nth-child(even){

background:#f9f9f9

}

#resultado{

margin-top:20px;

padding:15px;

background:#f2f4f7;

border-radius:6px;

}
